<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo center">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/auth">Sign Up</a></li>
      <li><a>Sign In</a></li>
      <li><a>Profile</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a>Home</a></li>
  <li><a>Sign Up</a></li>
  <li><a>Sign In</a></li>
  <li><a>Profile</a></li>
</ul>
