nav {
  background: transparent;
  position: absolute;
  box-shadow: none!important;
  padding-right: 4rem;


  .brand-logo {
    font-size: 18px;
    margin-left: 5rem;
  }
}

.brand-logo {
  background-image: url('/assets/flp_logo.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 5rem;
  height: 6rem;
}

.sidenav {
  background: var(--background-gradient);

  li {
    a, i {
      cursor: pointer;
    }
  }
}
