<nav>
  <div class="nav-wrapper">
    <a  class="brand-logo left"></a>
    <a data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Home</a></li>
      <li *ngIf="(authService.user$ | async) === null"><a routerLink="/auth/signup">Sign Up</a></li>
      <li *ngIf="(authService.user$ | async) === null"><a routerLink="/auth/signin">Sign In</a></li>
      <li *ngIf="authService.user$ | async"  (click)="onSignOut()"><a>Sign Out</a></li>
      <li *ngIf="authService.user$ | async" (click)="goToProfile()"><a>Profile</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/">Home</a></li>
  <li *ngIf="(authService.user$ | async) === null"><a routerLink="/auth/signup">Sign Up</a></li>
  <li *ngIf="(authService.user$ | async) === null"><a routerLink="/auth/signin">Sign In</a></li>
  <li *ngIf="authService.user$ | async"  (click)="onSignOut()"><a>Sign Out</a></li>
  <li *ngIf="authService.user$ | async" (click)="goToProfile()"><a>Profile</a></li>
</ul>
