
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .blogListContainer {
      display: flex;
      flex-wrap: wrap;
      padding-left: 1rem;
  }

  .featuredBlogListContainer {
    padding: 1rem;
    display: flex;
    width: 100%;
  }

  .swiper-container {
    width: 100%;
    height: 26rem;
    padding: 1rem;
  }

  .secondary-background {
    background-color: var(--secondary-color);
  }

 .swiper-slide {
   box-shadow: none;
 }

.card-panel {
  position: relative;
  width: 18rem;
  height: 18rem;
  border-radius: 35px;
  margin-right: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  box-shadow:  12px 12px 24px #baa7a0,
             -12px -12px 24px #fce3d8;
  transition: all 0.8s ease;

  .panel-header {
    position: absolute;
    background-color: black;
    backdrop-filter: blur(6px);
    opacity: 0.4;
    bottom: 0px;
    min-height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0px 0px 35px 35px;
    left: 0px;
    width: 100%;
  }

  .headerBox {
    position: absolute;
    bottom: 1rem;
    color: white;
    font-size: 20px;
  }

  &:hover {
    filter: brightness(1.1);
  }
}


.card {
  flex: 1;
  margin-right: 1rem;
  border-radius: 35px;
  display: flex;
  align-items: center;
  background: #D9C2BA;
  // box-shadow:  20px 20px 60px #b8a59e,
  //            -20px -20px 60px #fadfd6;
  box-shadow:  12px 12px 24px #baa7a0,
             -12px -12px 24px #fce3d8;


  .cardImg {
    width: 40%;
    border-radius: 35px 0px 0px 35px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
  }

  .card-content {
    max-width: 22rem;
    height: 12rem;
    overflow-y: hidden;
  }

  .heading {
    color: #4B3B42;
    font-size: 20px;
  }

  .date {
    color: #9C8481;
  }

  .description {
    color: #9C8481;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .material-icons {
    vertical-align: middle;
    margin-left: 1rem;
    margin-top: 8px;
    cursor: pointer
  }
}

@media only screen and (max-width: 600px) {
  .blogListContainer {
    padding-left: 0px;
  }
  .card{
    flex: auto;
    margin: 1rem 1rem 10px 8px;
  }
  section {
    padding-left: 2px;
    padding-right: 4px;
  }
  .material-icons {
   margin: 0px 4px 0px 0px;
   font-size: 40px;
  }
  .likeIconContainer {
    margin-top: -12rem;
    position: absolute;
    right: 0rem;
  }
  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
    position: relative;
  }
  .primaryButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 4px 0px 8px;
  	font-size: 16px;
    padding: 0px;
  }
}
