
  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .blogListContainer {
      display: flex;
      flex-wrap: wrap;
  }

  .featuredBlogListContainer {
    display: flex;
    padding: 1rem;
  }


.card-panel {
  width: 15rem;
  height: 15rem;
  border-radius: 35px;
  background-image: url('/assets/blue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow:  20px 20px 60px #d6cab2,
             -20px -20px 60px #fffff0;

  .panel-header {
    margin-top: 70%;
    color: white;
    font-size: 20px;
  }
}

.card {
  width: 26rem;
  margin-right: 1rem;
  border-radius: 35px;
  display: flex;
  align-items: center;
  background: #D9C2BA;
  box-shadow:  20px 20px 60px #b8a59e,
             -20px -20px 60px #fadfd6;

  .cardImg {
    width: 40%;
    border-radius: 35px 0px 0px 35px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
  }

  .card-content {
    max-width: 20rem;
    height: 10rem;
    overflow-y: hidden;
  }

  .heading {
    color: #4B3B42;
    font-size: 20px;
  }

  .date {
    color: #9C8481;
  }

  .description {
    color: #9C8481;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }

  .material-icons {
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: 8px;
    cursor: pointer
  }
}

@media only screen and (max-width: 600px) {
  .blogListContainer:nth-child(2) {
    justify-content: center;
  }
  section {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
