
  section {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .spinnerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .blogListContainer {
      display: flex;
      flex-wrap: wrap;
  }


.card-panel {

  width: 15rem;
  height: 15rem;
  border-radius: 35px;
  background: transparent;
  box-shadow:  20px 20px 60px #d6cab2,
             -20px -20px 60px #fffff0;
}

.card {
  width: 26rem;
  margin-right: 1rem;
  border-radius: 35px;
  display: flex;
  align-items: center;
  background: #D9C2BA;
  box-shadow:  20px 20px 60px #b8a59e,
             -20px -20px 60px #fadfd6;

  .cardImg {
    width: 40%;
    border-radius: 35px 0px 0px 35px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .card-stacked {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
  }

  .card-content {
    max-width: 20rem;
    height: 10rem;
    overflow-y: hidden;
  }

  .heading {
    color: #4B3B42;
    font-size: 20px;
  }

  .date {
    color: #9C8481;
  }

  .description {
    color: #9C8481;
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
  }
}
