<div class="mainContainer">

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large pulse hoverable" routerLink="/create">
      <i class="large material-icons">create</i>
    </a>
  </div>


  <section>
    <div class="bigLabel">Featured Blogs</div>
    <div class="blogListContainer">
        <div class="card-panel">
          Test
        </div>
    </div>
  </section>
  <section>
    <div class="bigLabel">Recent Blogs</div>
    <div class="blogListContainer">

      <div class="card horizontal" *ngFor="let blog of blogs | async; let i = index">
        <div class="cardImg"></div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="date">{{blog.date.toDate() | date}}</div>
            <div class="heading">{{blog.title}}</div>
            <div class="description">{{blog.description}}</div>
            <a class="primaryButton waves-effect" [routerLink]="['/blog']" [queryParams]="{id: blog.id}">Read More</a>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
