<div class="mainContainer">

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large pulse hoverable">
      <i class="large material-icons">create</i>
    </a>
  </div>


  <section>
    <div class="bigLabel">Featured Blogs</div>
    <div class="blogListContainer">
        <div class="card-panel">
          Test
        </div>
    </div>
  </section>
  <section>
    <div class="bigLabel">Recent Blogs</div>
    <div class="blogListContainer">

      <div class="card horizontal">
        <div class="cardImg"></div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="date">01/07/2020</div>
            <div class="heading">Some Title</div>
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            <a class="primaryButton waves-effect" routerLink="/blog">Read More</a>
          </div>
        </div>
      </div>

      <div class="card horizontal">
        <div class="cardImg"></div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
      </div>
      <div class="card horizontal">
        <div class="cardImg"></div>
        <div class="card-stacked">
          <div class="card-content">
            <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>
