section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
  background: var(--background-gradient);

   .header {
     margin-bottom: 4rem;
   }

  .blogImage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 24rem;
    cursor: pointer;

    i {
      color: white;
    }
  }

  .mainCard {
   margin: -4rem 4rem 4rem 4rem;
   min-height: 100vh;
   border-radius: 35px 35px 35px 35px;
   display: flex;
   flex-direction: column;
   padding: 4rem;
   padding-bottom: 10rem;

   .input-field {
     margin-top: 2rem;
   }

   .editorStyle {
     font-size: 20px;
     color: var(--secondary-color);
   }


   input, textarea {
     margin-top: 1rem;
     border-bottom-color: var(--tertiary-color);
     border-bottom-width: 4px;

     &:focus{
       border-bottom-color: var(--secondary-color);
       box-shadow: none;
     }

     &:focus + label {
       color: var(--secondary-color);
     }
   }

   textarea {
     min-height: 10rem;
   }

   select {
     border-bottom-color: var(--tertiary-color) !important;
     border-bottom-width: 4px;
     box-shadow: none;

    &:focus {
      border-bottom-color: var(--secondary-color);
      color: var(--secondary-color);
      box-shadow: none;
    }
   }


   .buttonWrapper {
     width: 100%;
     display: flex;
     justify-content: flex-end;
   }

   .primaryButton {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: flex-start;
     margin-right: 1rem;
   }
  }
}

@media only screen and (max-width: 600px) {
  section{
    .mainCard {
      margin: -2rem 0px 0px 0px;
      padding: 2rem 1rem 4rem 1rem;
      border-radius: 35px 35px 0px 0px;
    }
  }
}
