<section>
  <div class="blogImage">
    <div class="backArrow"><i class="medium material-icons" [routerLink]="['../']">arrow_back</i></div>
  </div>
  <div class="card">
  <form [formGroup]="blogForm" class="container">

      <div class="row">
        <div class="input-field col s12">
         <input type="text" id="titleInput" formControlName="title">
          <label class="active" for="titleInput">Title</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="text" id="descInput"  formControlName="description">
          <label class="active" for="descInput">Description</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="contentInput" formControlName="content" class="materialize-textarea"></textarea>
           <label for="contentInput">Content..</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="summaryInput" formControlName="summary" class="materialize-textarea"></textarea>
           <label for="summaryInput">Summary..</label>
        </div>
      </div>


      <div class="input-field col s12">
        <select multiple formArrayName="tags">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
      </div>

   </form>
  </div>
</section>
