<div class="mainContainer">
  <div class="authorBannerImage">
    <div class="backArrow"><i class="medium material-icons" [routerLink]="['../']">arrow_back</i></div>
  </div>
    <div class="card mainCard">

      <div class="authorImageContainer">
        <div class="authorImage"></div>
      </div>

      <div class="authorInfo">
        <div class="subTitle">Author Name Here</div>
      </div>

      <div class="authorStatus">
        <div class="statusBox">
          <div class="">Posts</div>
          <div class="">15</div>
        </div>
        <div class="statusBox">
          <div class="">Follower</div>
          <div class="">20</div>
        </div>
      </div>

      <div class="blogListContainer">

        <div class="card horizontal">
          <div class="cardImg"></div>
          <div class="card-stacked">
            <div class="card-content">
              <div class="date">01/07/2020</div>
              <div class="heading">Some Title</div>
              <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
