.mainCard {
 margin-top: -2rem;
 border-radius: 35px 35px 0px 0px;
 display: flex;
 flex-direction: column;
 padding: 4rem;

 .authorDetails {
   display: flex;
   flex-direction: column;
   align-content: center;
 }

 .authorInfo {
   align-self: center;
   font-size: 16px;
   margin: 2rem;
   color: #D9C2BA;
   border-bottom-style: solid;
   border-bottom-color: #D9C2BA;
   border-bottom-width: 4px;
   padding-bottom: 2rem;

   span {
     color: #9C8481;
   }
 }

 .subText {
   color: var(--secondary-color);
   max-width: 35em;
   text-align: center;
 }
}

.card .blogCards {
  box-shadow: none;
  max-width: 20rem;

  .heading {
    color: #4B3B42;
    font-size: 20px;
  }

  .date {
    color: #9C8481;
  }

  .description {
    color: #9C8481;
  }

  .cardImg {
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 }
}

.authorStatus {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.blogListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 4rem;
  justify-content: center;

  // .card .horizontal {
  //   display: flex;
  //   border-radius: 8px;
  //   background: #ffffff;
  //   box-shadow:  13px 13px 26px #e0e0e0,
  //            -13px -13px 26px #ffffff;
  //
  //   .heading {
  //     color: #4B3B42;
  //     font-size: 20px;
  //   }
  //
  // }

}
