.mainCard {
 margin-top: -2rem;
 margin-bottom: 0rem;
 border-radius: 35px 35px 0px 0px;
 display: flex;
 flex-direction: column;
 padding: 1rem;
 min-height: 100vh;

 .authorStatus {
   font-size: 18px;
   text-align: center;
   align-self: center;
   display: flex;
   justify-content: center;
   width: 60%;
 }

 .label {
   color: var(--secondary-color);
   font-size: 16px;
 }


 .authorDetails {
   display: flex;
   flex-direction: column;
   align-content: center;
   margin-bottom: 1rem;
 }

 .header {
   font-size: 28px;
   margin-bottom: 1rem;
 }

 .subTitle {
   font-size: 24px;
 }

 .contentWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }


 .blogListContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 100%;
   padding: 1rem;
 }

 .authorInfo {
   align-self: center;
   font-size: 16px;
   margin: 1rem;
   border-bottom-style: solid;
   border-bottom-color: #D9C2BA;
   border-bottom-width: 4px;
   padding-bottom: 2rem;

   span {
     color: #9C8481;
   }
 }

 .subText {
   color: var(--secondary-color);
   max-width: 35em;
   text-align: center;
 }
}



.card .blogCards {
  width: 20rem;
  margin-right: 2rem;
  border-radius: 8px;

   .card-bottom-half {
     padding-left: 1rem;
     margin-bottom: 1rem;
   }

  .card-content {
   margin: 0px;
   padding: 0px;
  }

  .heading {
    color: #4B3B42;
    font-size: 20px;
  }

  .date {
    color: #9C8481;
  }

  .description {
    color: #9C8481;
  }

  .cardImg {
  border-radius: 8px 8px 0px 0px;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
 }

 .buttonWrapper {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   padding: 0px 1rem 1rem 0px;
 }

 .material-icons {
   cursor: pointer;
 }

}

.settingMenu {
  display: flex;
  width: 15rem;
}

.menuItem {
  display: flex;
  align-items: center;
  i {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 600px) {
   .mainCard {
     padding: 0px;

     .blogListContainer {
       padding: 0px;
     }
   }

   .card .blogCards {
    width: 100%;
    align-self: center;
    margin: 2rem 0px 0px 0px;

    .cardImg {
      height: 15rem;
    }
  }

}
