.mainCard {
 margin-top: -2rem;
 border-radius: 35px 35px 0px 0px;
 display: flex;
 flex-direction: column;
 padding: 4rem;

 .authorDetails {
   display: flex;
   flex-direction: column;
   align-content: center;
 }

 .blogListContainer {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   padding: 2rem;
 }

 .authorInfo {
   align-self: center;
   font-size: 16px;
   margin: 2rem;
   color: #D9C2BA;
   border-bottom-style: solid;
   border-bottom-color: #D9C2BA;
   border-bottom-width: 4px;
   padding-bottom: 2rem;

   span {
     color: #9C8481;
   }
 }

 .subText {
   color: var(--secondary-color);
   max-width: 35em;
   text-align: center;
 }
}



.card .blogCards {
  box-shadow: none;
  width: 20rem;
  margin-right: 2rem;

  .card-title {
    padding: 4px;
  }

  .card-content {
    padding: 4px;
    margin-bottom: 1rem;
  }

  .heading {
    color: #4B3B42;
    font-size: 20px;
  }

  .date {
    color: #9C8481;
  }

  .description {
    color: #9C8481;
  }

  .cardImg {
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
 }

 .buttonWrapper {
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
 }

 .tinyButtons {
   border-radius: 8px;
   background-color: var(--secondary-color);
   color: white;
   width: 3rem;
   height: 2rem;
   padding: 4px 0px 4px 0px;
   font-size: 12px;
   text-align: center;
 }
}

.authorStatus {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 60%;
}
