<div class="mainContainer">

  <div class="authorBannerImage">
    <div class="backArrow"><i class="medium material-icons" [routerLink]="['../']">arrow_back</i></div>
  </div>

    <div class="card mainCard">

      <div class="authorDetails" *ngIf="(author$ | async) as author">

        <div class="authorImageContainer">
          <div class="authorImage" [style.background-image]="'url('+author.profileImageUrl+')'"></div>
        </div>

        <div class="authorStatus">
          <div class="statusBox">
            <div class="">Posts</div>
            <div class="">{{blogs.length}}</div>
          </div>
          <div class="statusBox">
            <div class="">Follower</div>
            <div class="">20</div>
          </div>
        </div>

        <div class="authorInfo">
          <div class="bigLabel center">{{author.fullName}}</div>
          <div class="subText">{{author.authorAbout}}</div>
        </div>

      </div>

      <div class="subTitle">
        My Blogs
      </div>

      <div class="blogListContainer">
        <div class="card blogCards" *ngFor="let blog of blogs; let i = index;">
          <div class="cardImg" [style.background-image]="'url('+blog.imageUrl+')'"></div>
            <div class="date" style="margin-left: 4px;">{{blog.date.toDate() | date}}</div>
            <div class="card-title">
              <div class="heading">{{blog.title}}</div>
            </div>
            <div class="card-content">
              <div class="description">{{blog.description}}</div>
            </div>
            <div class="buttonWrapper">
              <a class="tinyButtons" *ngIf="currentUserId && currentUserId === blog.authorId" [routerLink]="['/create']"  [queryParams]="{edit: 'true', id: blog.id}"><i class="material-icons">create</i></a>
            </div>
        </div>
      </div>

    </div>
</div>
