section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .blogImage {
    background: url("https://papers.co/wallpaper/papers.co-bb08-minimal-drawing-pink-illustration-art-34-iphone6-plus-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 24rem;
  }

  .headerSection {
    display: flex;
    justify-content: space-between;
  }

  .likeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    i {
      margin-bottom: 1rem;
    }
  }



  .chip {
    background: var(--secondary-color);
    color: white;
    margin-bottom: 2rem;
  }


  .authorInfo {
    align-self: center;
    font-size: 16px;
    margin: 2rem;
    color: #D9C2BA;
    border-bottom-style: solid;
    border-bottom-color: #D9C2BA;
    border-bottom-width: 4px;
    padding-bottom: 2rem;

    span {
      color: #9C8481;
    }
  }

  .card {
   min-height: 100vh;
   margin-top: -2rem;
   border-radius: 35px 35px 0px 0px;
   display: flex;
   flex-direction: column;
   padding: 2rem;
  }

  .blogContent {
    padding-top: 2rem;
  }

  .authorImage{
    cursor: pointer;
  }

  .contentText {
    font-size: 18px;
    line-height: 2;
  }


  blockquote {
    font-size: 20px;
    color: #9C8481;
    line-height: 2;
    border-left-color: #9C8481;
  }
}

@media only screen and (max-width: 600px) {
  section {
    .card {
      padding: 1rem;
    }
  }
}
