<section>
  <div class="blogImage" *ngIf="blog" [style.background-image]="'url('+blog.imageUrl+')'">
    <div class="backArrow"><i class="medium material-icons" [routerLink]="['../']">chevron_left</i></div>
  </div>
  <div class="card">

    <div class="spinnerContainer" *ngIf='isLoading'>
      <div  class="preloader-wrapper big active">
        <div class="spinner-layer">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="authorImageContainer">
      <div class="authorImage" *ngIf="author" [style.background-image]="'url('+author.profileImageUrl+')'" routerLink="/author" [queryParams]="{id: blog.authorId}"></div>
    </div>
    <div class="authorInfo" *ngIf="author">
       by <span>{{author.fullName}}</span> a student at <span>{{author.company}}</span>
    </div>
    <div class="blogContent container" *ngIf="blog">
      <div class="headerSection">
        <div class="title">
          {{blog.title}}
        </div>
        <div class="likeBox">
          <i class="material-icons">favorite</i>
          <div class="">
            {{blog.likes}} Likes
          </div>
        </div>
      </div>
      <div class="chip" *ngFor="let genre of blog.genres;let i = index;">
        {{genre}}
      </div>
      <div class="contentText" [innerHTML]="blog.content">
      </div>
      <blockquote>
        {{blog.summary}}
      </blockquote>
      <div class="references" *ngIf="blog.references" style="margin-top: 4rem;">
         <div class="">References:</div>
         <p *ngFor='let reference of blog.references; let i = index;'>{{reference}}</p>
      </div>
    </div>
    <div class="divider"></div>
    <app-comment [blogId]="currentBlogId" class="container"></app-comment>

  </div>

</section>
