<section>
  <div class="blogImage">
    <div class="backArrow"><i class="medium material-icons" [routerLink]="['../']">arrow_back</i></div>
  </div>
  <div class="card">
    <div class="authorImageContainer">
      <div class="authorImage" routerLink="/author"></div>
    </div>
    <div class="authorInfo">
       by <span>Author Name Here</span> a student at <span>School Name Here</span>
    </div>
    <div class="blogContent container">
      <div class="title">
        A Blog Title Here
      </div>
      <div class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <blockquote>
       "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
      </blockquote>
    </div>
  </div>
</section>
